h1{
            color: rgba(112, 9, 153, 0.829);
            background-color: rgb(172, 103, 236);
}
body{
            background-color: rgb(209, 178, 238);
            text-align: center;
}
img{
            width: 800px;
}