header{
    background-color: rgb(103, 29, 172);
    height: 200px;
    padding: 20px 0;
}
nav li{
    display:inline;
    margin: 0 0 0 15px;
}
nav a{
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(112, 9, 153, 0.829);
    font-size: 22px;
    font-weight: bold;  
}
.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}
nav{
    position: absolute;
    top: 110px;
    right: 0 ;
}
.servicos{ 
    width: 940px; 
    margin: 0 auto; 
    padding: 50px 0; 
} 
.sevicos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
}
.servicos h2{
    font-size: 30px;
    font-weight: bold;
}
.descricao{
    font-size: 18px;
}
.preco{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}
footer{ 
    text-align: center;
background-color: rgb(103, 29, 172);
padding: 40px 0;

}
footer img{
    width: 50px;
    margin-bottom: 20px;
    color: black;
}
footer p{
     color: black;
     
}
main{
    margin: 0 auto;    
     }
form{
margin: 40px 0;
 }
 form label{
display: block;
font-size: 20px
  margin: 0 10px; 
 }
 form input{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
 }